<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{background: black;
    color:aqua;}
</style>
<pre>
    <h2>THE RESULTS ARE:</h2>
    <pre>
    1----- You have Diabetes
    0----- You donot have Diabetes</pre>

    <h3>Value={{ans}}</h3><br>
    <a href="{% url 'home' %}">Click to go to Home page</a>
</body>
</html>